<h2>New quest data</h2>

<%= simple_form_for quest do |f| %>
  <%= f.error_notification %>
  <%= f.input :players, hint: "" do %>
    <%= f.collection_check_boxes :player_ids, quest.game.players, :id, :name, item_label_class: "checkbox-inline", item_wrapper_tag: false, collection_wrapper_tag: :div do |b| %>
        <%= b.check_box(class: "quest_player_id") %>
        <span class="token"><%= b.text %></span>
    <% end %>
  <% end %>
  <fieldset id="fail-fields">
    <legend class="form-label">Toggle outcomes</legend>
    <%= hidden_field_tag "fails[]", "0" %>
    <div class="row">
      <% quest.game.next_quest_players_count.times do |n| %>
        <div class="col-xs-3">
          <%= check_box_tag "fails[]", "1", false, class: "fail", id: "fails#{n}" %>
          <%= label_tag "fails#{n}", "", class: "tgl-btn", "aria-label" => "Fail" %>
        </div>
      <% end %>
    </div>
  </fieldset>
  <%= f.submit class: "btn btn-default", disabled: true %>
<% end %>
